.legend-select {
  width: 156px;
  height: 23px;
  border-radius: 0px 3px 3px 0px;
  border: 0.5px solid #999999;
  margin-right: 2px;
  margin-top: 2px;
  overflow: hidden;
}
.legend-select-empty {
  height: 24px;
  width: 186px;
  margin-left: 2px;
  margin-top: 2px;
  border-radius: 3px 3px 3px 3px;
  border: 0.5px solid #999999;
}

.clear-icon {
  display: flex;
  font-size: 12px !important;
}

.clear-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 23px;
  margin-left: 2px;
  margin-top: 2px;

  border-radius: 3px 0px 0px 3px;
  border: 0.5px solid #999999;
  background: #9999992e;
}

.clear-icon-container:hover {
  background-color: hsl(0, 90%, 95%);
}

.weight-label {
  color: black;
}