#scroll-area {
  --number-of-selected-indicators: 0; /* the default */
}

.parallel-line-plot-scroll-area {
  position: absolute;
  width: 90%;
  height: 100%;

  overflow-x: scroll;
  overflow-y: hidden;
  /* background: green; */
}

.parallel-line-plot-container {
  --flex-box-margin-multiplier: 4;
  width: calc(
    (
      var(--number-of-selected-indicators) *
        (
          var(--column-margin-indicator) * var(--flex-box-margin-multiplier) +
            var(--column-width-indicator)
        )
    )
  );
  height: 100%;
}

.parallel-line-plot-legend {
  height: 18%;
  width: 100%;
  /* background: rgb(245, 143, 0); */
  align-items: center;
  display: flex;

  /* rechars creates some transparant divs...*/
}

.parallel-line-plot-chart {
  position: absolute;
  /* background: cornflowerblue; */
  left: calc(var(--column-width-indicator) / 2);
  top: 125px;
}

/* Height need to be aligned with container (of rankning) */
.bar-plot-container {
  height: 100%;
  width: 100%;
  top: var(--ranking-top);
  /* background: rgb(245, 143, 0); */
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  display: -webkit-box;
}
/* For responsive container of recharts a width and height is needed */
.bar-plot {
  width: var(--column-width-indicator);
  height: 100%;
  margin-left: var(--column-margin-indicator);
  margin-right: var(--column-margin-indicator);
  border: 1px solid #000000;
  background-color: #ffffff;
}
