.just-for-dev {
  position: absolute;
  right: 0;
}

* {
  font-size:12px;
  font-weight:normal;
  font-family: "Helvetica Neue", Helvetica, Arial sans-serif;
}

h1, h2 {
  font-size:14px;
}

html {
 background: #fcfcfc;
}

/*Grid setup*/
/*MAIN GRID*/
.App {
  position: relative;
  display: block;
  width: 951px;
  height: 700px;
}

/*HEADER
----------------------------------------------*/

.App-navigation {
  position: absolute;
  height: 5%;
  width: 100%;
  
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  /* background-color: #1208081f; */
  display: flex;
  
}
.nav-button {
  display: flex !important;
  width: 100%;
  margin-left: 5% !important;
  margin-right: 5% !important;
}
/*RANKING MAIN CONTAINER
-----------------------------------------------*/
.ranking-container {
  position: absolute;
  overflow: visible;
  height: 590px;
  width: 31%;
  top: 172px;
  background: #fcfcfc;
}

.line-ranking {
  position: relative;
  /* background: blue;*/
  height: 100%;
  width: 100%;
 
  z-index: 2;
}

/*PARALLEL LINE PLOT MAIN CONTAINER
------------------------------------------------*/


.parallel-line-plot-scroll-area {
  position: absolute;
  left: 20%;
  top: 6%;
  
  width: 727px;
  height: 750px;

  overflow-x: scroll;
  overflow-y: hidden;
   /* background: green; */
}

.parallel-line-plot-container{
  width: 100%;
  height: 100%;
}

.parallel-line-plot-legend {
  height: 18%;
  width: 100%;
  /* background: rgb(245, 143, 0); */
  align-items: center;
  position: absolute;
  /* rechars creates some transparant divs...*/  
}

.parallel-line-plot-chart {
  position: absolute;
  /* background: cornflowerblue; */
  left: 115px;
  top: 125px;
}


.legend-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 230px;
  height: 110px;
  position: absolute;
  left: 0;

  border-radius: 12px;
  text-align: center;
  border: solid #e0e0e0;

  /* background: #cc8dab; */
}

.legend-container-title {
  display: flex;
  flex-direction: column;
}

.remove {
  align-items: right;
  grid-area: remove;
  border-top-right-radius: 4px;
}

.legend-container-left {
  width: 50px;
  display: flex;
  flex-direction: column;
}

.legend-container-right {
  width: 165px;
  display: flex;
  justify-content: flex-end;
}

.legend-name {
  text-align: left;
  border-top-left-radius: 4px;
  padding-left: 10px;
  padding-top: 5px;
  /* background: cornflowerblue; */
}

.rate-positive {
 
  grid-area: positiv;
  align-items: center;
   /* background: #0044ed; */
}

.rate-negativ {
  
  grid-area: negativ;
  align-items: center;

   /* background: #eded00; */
}

.rating-icon {
  color: white;
  border-radius: 0 12px 12px 0;
  width: 100% !important;

}

.weight {
  grid-area: weighting;
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 0px;
   /* background: cornflowerblue; */
}

.weight-label {
  margin-top: 10px;
  text-align: left;
  color: #808080;
}

/* Indicator selection and deselection
------------------------------------------------*/
.floating-container {
  z-index: 10;
  display: grid;
  width: calc(var(--app-width) - var(--app-header-height));
  height: var(--app-height);
 
  padding: 0;
}

.selection-container {
  --margin: calc(var(--app-header-height) );
  --height: calc(var(--app-height) - var(--margin));
  --width: calc(var(--app-width) - var(--ranking-width));

  height: var(--height);
  margin-top: var(--margin);
  margin-left: var(--ranking-width);
  width: var(--width);

  display: flex;
  flex-direction: column;
  background: #e0e0e0f5;
  border-radius: 50px 20px;
  background: blanchedalmond;
}

/*UTIL ELEMENTS
------------------------------------------------*/
.title {
  grid-area: title;
  width: 100%;
  height: auto;
  background: brown;
  text-align: center;
  margin: 0;
}

/* Rating buttons
------------------------------------------------*/
.negative-selected {
  background-color: #e54803 !important;
}

.negative-unselected {
  background-color: #E6D3CB !important;
}

.negative-unselected:hover {
  background-color: #e54803 !important;
}

.negative-border {

}

.negative {
  background: #e54803 !important;
}

.positive {
  background: #0387c1 !important;
}

.positive-border {

}

.positive-selected {
  background-color: #0387c1 !important;
}

.positive-unselected {
  background-color: #9AB6C3 !important;
}

.positive-unselected:hover {
  background-color: #0387c1 !important;
}
