.just-for-dev {
  position: absolute;
  right: 0;
}

/*Grid setup*/
/*MAIN GRID*/
.App {
  --plot-width: 750px;
  display: grid;
  width: 951px;
  background: aquamarine;

  grid-template-columns: 201px var(--plot-width);
  grid-template-rows: 30px 800px;
  grid-template-areas:  "header header"
                        "ranking parallel-line-plot";
}

/*HEADER
----------------------------------------------*/

.App-header {
  grid-area: header;
  background-color: #1208081f;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

/*RANKING MAIN CONTAINER
-----------------------------------------------*/
.ranking-container {
  display: grid;
  grid-area: ranking;

  grid-template-columns: auto;
  grid-template-rows: 30px auto;
  grid-template-areas: "title" "ranking";

  height: 100%;
  width: 100%;
  background: aliceblue;
}

.line-ranking {
  grid-area: ranking;
  background: blue;
  height: 95%;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;

}

/*PARALLEL LINE PLOT MAIN CONTAINER
------------------------------------------------*/
.parallel-line-plot-container {
  display: grid;
  grid-area: parallel-line-plot;

  position: relative;

  grid-template-columns: auto;
  grid-template-rows: 30px 30px auto;
  grid-template-areas:  "title"
                        "add-ind"
                        "scroll-area";

  height: 100%;
  width: 100%;
  background: blanchedalmond;
}

.add-inicator {
  display: grid;
  grid-area: add-ind;
  text-align: center;
  align-items: center;
  background: #eded00;
}
.parallel-line-plot-scroll-area {
  --number-of-elements: 3;
  --line-plot-margin-left: calc(var(--plot-width) / 2 / var(--number-of-elements));

  display: grid;
  grid-area: scroll-area;

  grid-template-columns: auto;
  grid-template-rows: 15% auto;
  grid-template-areas: "legend" "chart";

  height: 100%;
  width: calc(750px - var(--legend-container-width));
  overflow-x: scroll;
  background: green;
}

.parallel-line-plot-legend {
  display: grid;
  grid-area: legend;
  background: blanchedalmond;
  align-items: center;
  position: relative;
}

.parallel-line-plot-chart {
  display: grid;
  grid-area: chart;

  margin-left: var(--line-plot-margin-left);
  background: cornflowerblue;

}

.legend-container {
  --legend-container-width: calc(var(--line-plot-margin-left) * 2);
  width: var(--legend-container-width);
  display: grid;

  grid-template-columns: 10% auto 10%;
  grid-template-rows: 20px auto auto;
  grid-template-areas:  "name     name      remove"
                        "positiv  weighting weighting"
                        "negativ  weighting weighting";

  height: 95%;
  position: absolute;
  left: 0;

  border-radius: 12px;
  text-align: center;

  background: #cc8dab;
}

.legend-name {
  display: grid;
  grid-area: name;

  background: cornflowerblue;
}

.rate-positive {
  display: grid;
  grid-area: positiv;

  background: #0044ed;
}

.rate-negativ {
  display: grid;
  grid-area: negativ;

  background: #eded00;
}

.weight {
  display: grid;
  grid-area: weighting;

  width: 50%;
  padding-left: 25%;
  padding-top: 15%;

  background: cornflowerblue;
}

.remove{
  display: grid;
  grid-area: remove;

}



/*UTIL ELEMENTS
------------------------------------------------*/
.title {
  grid-area: title;
  width: 100%;
  height: auto;
  background: brown;
  text-align: center;
  margin: 0;
}


