.just-for-dev {
  position: absolute;
  right: 0;
}

* {
  font-size: 12px;
  font-weight: normal;
  font-family: 'Helvetica Neue', Helvetica, Arial sans-serif;
}

h1,
h2 {
  font-size: 12px;
}

html {
  background: #fcfcfc;
}

/*Grid setup*/
/*MAIN GRID*/
.App {
  position: relative;
  display: block;
  width: 951px;
  height: 700px;
}

label,
input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
}

.text {
  font-size: 9.6pt;
  line-height: 14pt;
}

/* Wizard
------------------------------------------------*/
h2.wizardTitle {
  font-family: Arial;
  font-size: 13pt;
  font-weight: bold;
  color: #225b33;
  margin-left: 5px;
  margin-bottom: 0px;
}

.wizardDescription {
  margin-bottom: 10px;
}

h2.district-ranking-title {
  font-family: Arial, sans-serif;
  font-size: 13pt;
  font-weight: bold;
  color: black;
}

div.hideDescription {
  display: none;
}

/* Main view
-----------------------------------------------*/
.main-view {
  position: relative;
}

.main-view > .information {
  height: 10%;
  top: 0;
}

.main-view > .title {
  height: 5%;
  top: 10%;
}

.main-view > .district-ranking {
  height: 83%;
  top: 120px /**--ranking-top**/;
}

.districtRankingExplanation {
  margin-left: 5px;
}
/* Didn't work with IE, partial support 
.districtRankingExplanationList {
  display: flex;
  flex-direction: column;
}
*/

.districtRankingExplanation > li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid red;
}

.main-view > .indicator-ranking {
  height: 95%;
  top: 0;
}

.main-view > .navigation {
  height: 5%;
  bottom: 0;

  text-align: center;
  display: flex;
}

.main-view > .left-grid {
  position: absolute;
  width: 300px; /*--district-ranking-width*/
  left: 0;
}

.main-view > .right-grid {
  position: absolute;
  width: calc(100% - 300px /*--district-ranking-width*/);
  left: 300px; /* --district-ranking-width */
}

.district-ranking > .container {
  --margin: 4%;
  position: relative;
  display: inline-table;
  width: calc(100% - 4px /**--margin**/);
  height: calc(100% - 4px /**--margin**/);
  left: calc(4px /**--margin**/ / 2);
  background: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.mainFrame {
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

/*----------------------------------------------*/
/* INDICATOR SELECTION                          */
/*----------------------------------------------*/
.selections {
  display: flex;
}

.selectionGroup {
  display: flex; /* This pushs the toggle group to the bottom */
  flex-direction: column;
  justify-content: flex-start;
  flex: 1; /* All columns same width */
  background-color: #fcfcfc;
  margin: 5px;
  padding-left: 5px;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

.selectionGroupTitle {
  padding: 5px 0px 3px 5px;
}
.selectionCheckboxes {
  flex-grow: 1;
  padding-bottom: 10px;
}

.selectionCheckbox {
  padding-bottom: 2px;
}

.toggleGroup {
  padding: 0px 0px 5px 0px;
}

/*RANKING MAIN CONTAINER
-----------------------------------------------*/
.ranking-container {
  position: absolute;
  overflow: visible;
  height: 590px;
  width: 31%;
  top: 172px;
  background: #fcfcfc;
}

.line-ranking {
  position: relative;
  /* background: blue;*/
  height: 100%;
  width: 100%;
  z-index: 2;
}

.legend-container {
  align-items: center;
  display: -webkit-box;
  width: 190px;
  height: 110px;

  margin-left: 3px; /**--column-margin-indicator**/
  margin-right: 3px; /**--column-margin-indicator**/

  border-radius: 5px;
  text-align: center;
  border: 1px solid #000000;

  /* background: #cc8dab; */
}

.neutral-border {
  border: 1px solid #aaa;
}

.legend-container-title {
  display: flex;
  flex-direction: column;
}

.remove {
  align-items: right;
  grid-area: remove;
  border-top-right-radius: 4px;
}

.legend-container-left {
  width: 50px;
  display: flex;
  flex-direction: column;
}

/*RANKING MAIN CONTAINER -----------------------------------------------*/

.legend-container-right {
  width: 165px;
  display: flex;
  justify-content: flex-end;
}

.legend-name {
  text-align: left;
  border-top-left-radius: 4px;
  padding-left: 10px;
  padding-top: 5px;
  /* background: cornflowerblue; */
}

.rate-positive {
  grid-area: positiv;
  align-items: center;
  /* background: #0044ed; */
}

.rate-negativ {
  grid-area: negativ;
  align-items: center;

  /* background: #eded00; */
}

.rating-icon {
  color: white;
  border-radius: 0 12px 12px 0;
  width: 100% !important;
}

.weight {
  grid-area: weighting;
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  /* background: cornflowerblue; */
}

.weight-label {
  margin-top: 12%;
  text-align: left;
  color: #808080;
}

/* Indicator selection and deselection
------------------------------------------------*/

/*------------------------------------------------*/
/* R A I T I N G  (Pos / Neg)                     */
/*------------------------------------------------*/
.contentBox {
  background-color: #fcfcfc;
  margin: 5px;
  padding: 8px 5px 8px 5px;
  padding-right: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  height: 100%;
}

.rating {
  display: flex;
}

.ratingLeft {
  flex: 8;
  background-color: #fcfcfc;
  margin: 5px;
  padding: 8px 5px 8px 5px;
  padding-right: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  height: 100%;
}

.raitingRight {
  flex: 4;
  background-color: #fcfcfc;
  margin: 5px;
  padding: 8px 5px 8px 5px;
  padding-right: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  height: 100%;
}

.indicatorRatingDescription {
  padding: 4px 0px 4px 0px;
  height: 45px;
}
.ratingLine {
  /* Use Flex row system */
  display: flex;
  padding: 4px 0px 4px 0px;
  height: 45px;
  justify-content: space-between;
}

.ratingLineText p {
  display: flex;
}

.ratingLineText p:before {
  content: '\A';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid black;
  padding-right: 3px;
  margin-top: 2px;
}

.ratingLineText p:after {
  content: ' ...';
  white-space: pre;
}

.ratingLineButtons {
  display: flex;
  height: 35px;
  justify-content: flex-end;
}

.ratingButton {
  display: flex;
  color: white;
  text-transform: none;
  border-radius: 2px;
  align-items: center;
  box-shadow: 1px 2px #c1c1c1;
}

/* Rating buttons
------------------------------------------------*/
.negative-selected {
  background-color: #e54803;
  border: 1px solid #e54803;
}

.negative-unselected {
  background-color: #e6d3cb;
  border: 1px solid #e6d3cb;
  cursor: pointer;
}

.negative-unselected-disabled {
  background-color: #e6d3cb;
  border: 1px solid #e6d3cb;
  cursor: not-allowed;
}

.negative-unselected:hover {
  background-color: #e54803;
  border: 1px solid #e54803;
}

.negative {
  background: #e54803;
  border: 1px solid #e54803;
}

.positive-selected {
  background-color: #0387c1;
  border: 1px solid #0387c1;
  margin-right: 10px;
}

.positive-unselected {
  background-color: #9ab6c3;
  border: 1px solid #9ab6c3;
  margin-right: 10px;
  cursor: pointer;
}

.positive-unselected-disabled {
  background-color: #9ab6c3;
  border: 1px solid #9ab6c3;
  margin-right: 10px;
  cursor: not-allowed;
}

.positive-unselected:hover {
  background-color: #0387c1;
  border: 1px solid #0387c1;
  margin-right: 10px;
}

/* Remove horizontal lines in barchart */
.recharts-wrapper .recharts-cartesian-grid-horizontal {
  stroke-opacity: 0;
}

/* keep white space in labels of y-axis */
.preserveWhiteSpace {
  white-space: pre;
  margin-left: 1em;
}

.recharts-cartesian-axis-tick-value {
  fill: black;
  white-space: pre;
}

.clear-icon {
  cursor: pointer;
}
